asyncpg
matplotlib
git+https://github.com/LordOfPolls/nafftrack.git
naff
numpy
orjson
python-dotenv
pyyaml
thefuzz[speedup]
emoji
apscheduler
sentry_sdk

# webhook server
Flask
psycopg2
waitress
paste